.footer{

background:#07152c;

padding:50px 20px;

text-align:center;

color:white;

margin-top:100px;

}

.footer h3{

margin-bottom:15px;

font-size:24px;

}

.footer p{

margin:8px 0;

color:#ccc;

}

@media(max-width:768px){

.footer{

padding:40px 20px;

}

.footer h3{

font-size:20px;

}

.footer p{

font-size:14px;

}

}