.projects{
padding:80px 20px;
text-align:center;
}

.project-container{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.project-card{
background:#222;
color:white;
padding:20px;
border-radius:10px;
width:250px;
}

.project-card:hover{
transform:scale(1.05);
transition:0.3s;
}
@media(max-width:768px){

.project-container{

flex-direction:column;

align-items:center;

}

.project-card{

width:90%;

}

}