.skills{

padding:80px 20px;

text-align:center;

}

.skills-container{

display:flex;

gap:20px;

justify-content:center;

flex-wrap:wrap;

}

.skill-card{

padding:20px;

background:#1e293b;

color:white;

border-radius:10px;

}