body.dark{

background:#111827;

color:white;

}

body.dark .navbar{

background:#1f2937;

}

body.dark .nav-links a{

color:white;

}

body.dark .hero p{

color:#d1d5db;

}

body.dark .about p{

color:#d1d5db;

}

body.dark .edu-card{

background:#1f2937;

color:white;

}

body.dark .skill-card{

background:#1f2937;

color:white;

}body.dark{

background:#111827;

color:white;

}

body.dark .navbar{

background:#1f2937;

}

body.dark .nav-links a{

color:white;

}

body.dark .hero p{

color:#d1d5db;

}

body.dark .about p{

color:#d1d5db;

}

body.dark .edu-card{

background:#1f2937;

color:white;

}

body.dark .skill-card{

background:#1f2937;

color:white;

}